@page "/"
@layout MainLayout

<h2>My NFT Gallery</h2>

<div class="gallery-grid">
    @foreach (var nft in Nfts)
    {
    <GalleryCard Title="@nft.Title"
                 Metadata="@nft.Metadata"
                 ImageUrl="@nft.ImageUrl"
                 LikeCount="@nft.LikeCount"
                 Liked="@nft.Liked"
                 OnLikeToggled="(liked) => nft.Liked = liked" />
    }
</div>

@code {

    private List<NftItem> Nfts = new()
    {
        new() { Title = "WAVES", Metadata = "Artist: Luma | Edition 1/10", ImageUrl = "assets/nft1.jpg", LikeCount = 42 },
        new() { Title = "NEON BLOOM", Metadata = "Artist: Jay | Edition 3/10", ImageUrl = "assets/nft2.jpg", LikeCount = 12 },
        new() { Title = "THE DREAMER", Metadata = "Artist: Sora | Edition 1/1", ImageUrl = "assets/nft3.jpg", LikeCount = 7 },
        new() { Title = "DARKNET", Metadata = "Artist: Meka | Edition 5/10", ImageUrl = "assets/nft4.jpg", LikeCount = 66 },
        new() { Title = "GOLD LEAF", Metadata = "Artist: Arno | Edition 2/5", ImageUrl = "assets/nft5.jpg", LikeCount = 99 },
        new() { Title = "CRYPTO BLOOM", Metadata = "Artist: Nyra | Edition 1/6", ImageUrl = "assets/nft6.jpg", LikeCount = 21 },
        new() { Title = "PLASMA CORE", Metadata = "Artist: Toshi | Edition 4/10", ImageUrl = "assets/nft7.jpg", LikeCount = 5 },
        new() { Title = "GHOST SEASON", Metadata = "Artist: Xone | Edition 3/4", ImageUrl = "assets/nft8.jpg", LikeCount = 13 }
    };

}